@page "/"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

<PageTitle>Home</PageTitle>

<h1>Welcome to Doccy</h1>

<p>Please log in and navigate to the documents page using the nav-bar to manage your documents.</p>
<br />



@code{


}